
@{
    ViewBag.Title = "Index";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="card text-light" style="max-width: 48rem;">
        <div class="card-body p-0">
            <img src="https://www.pizzanapoletana.org/struttura/pagine_bicolor/mobile/disciplinare_avpn_2.jpg" class="img-fluid" alt="...">
        </div>
        <div class="card-img-overlay">
            <h5 class="card-title" style="font-size: 4rem; color: lightgrey;">Benvenuti</h5>
            <p class="card-text" style="font-size: 2.5rem; color: lightgrey;">Alla Freddy Fazbear's Pizza</p>
        </div>
    </div>
</div>