
@{
    ViewBag.Title = "Index";
}
<body style="background-image: url('https://images.unsplash.com/photo-1561350111-7daa4f284bc6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-repeat: no-repeat; background-position: center center; margin: auto; ">
    <div style="height: 75vh; text-align: left; font-family: 'Lora', serif;">
        <h5 style="font-size: 6.5rem; color: white; padding-top: 13vh; margin-bottom: 30px; margin-left: 20rem;">Blaze & Dough</h5>
        <p style="font-size: 2.5rem; color: white; margin-bottom: 40px; margin-left: 25rem;">L'arte della vera pizza italiana.</p>
        <p style="font-size: 1.5rem; color: white; margin-bottom: 50px; margin-left: 36rem; font-family: 'Indie Flower', cursive; ">dal 1996 </p>
        <button class="button-72" role="button" ; style="margin-left: 28rem;">Controlla gli ordini di oggi.</button>
    </div>
    </body>