body {
    background-image: url('img/pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}

.container.body-content {
    flex: 1;
}

hr {
    width: 100%;
}

footer {
    text-align: center;
}

.button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(255, 0, 0, 0.84), rgba(255, 69, 0, 0.84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(255, 69, 0, 0.24) 0 2px 2px, rgba(255, 0, 0, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(255, 0, 0, 0.6) 1px 1px 4px, rgba(255, 0, 0, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

    .button-72:hover {
        background-image: linear-gradient(#FF0000, #FF4500 50%);
    }

@media (min-width: 768px) {
    .button-72 {
        font-size: 21px;
        padding: 18px 34px;
    }
}