<body style=" background-image: url('https://images.unsplash.com/photo-1579751626657-72bc17010498?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-repeat: no-repeat; background-position: center center; margin: auto;">
    @{
        ViewBag.Title = "Index";
    }

    <div style="height: 75vh; text-align: left; font-family: 'Lora', serif;">
        <h5 style="font-size: 6.5rem; color: white; padding-top: 11vh; margin-left: 25rem;">Welcome!</h5>
        <h5 style="font-size: 5rem; color: white; padding-top: 3vh; margin-bottom: 5rem; margin-left: 23rem;">Blaze & Dough</h5>
        <button class="button-72" role="button" style="margin-left: 30rem;">Ordina la tua pizza!</button>
    </div>
</body>