@using U5_W3_P.Models
@model List<Prodotto>

@{
    ViewBag.Title = "Pizze";
}

@using (Html.BeginForm("Ordine", "Users", FormMethod.Post, new { @class = "text-center mt-4" }))
{
    <button type="submit" class="btn btn-secondary">Ordina le tue pizze</button>
}

<br />
<h2>Le nostre pizze</h2>
<div class="row">
    @foreach (Prodotto prodotto in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/Content/img/@prodotto.Foto" class="card-img-top" alt="Pizza" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@prodotto.Nome</h5>
                    <p class="card-text">Prezzo: @prodotto.Prezzo €</p>
                    <p class="card-text">Tempo di consegna: @prodotto.TempoConsegna</p>
                    <p class="card-text">Ingredienti: @prodotto.Ingredienti</p>

                    @using (Html.BeginForm("MoveToCart", "Users", new { id = prodotto.IdProdotto }, FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="quantita">Quantità:</label>
                            <input type="number" name="quantita" id="quantita" class="form-control mb-3" style="width: 60px;" />
                        </div>
                        <button type="submit" class="btn btn-secondary">Aggiungi al carrello</button>
                    }
                </div>
            </div>
        </div>
    }
</div>
